.Container9{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Wrapper3{
  width: 40%;
  padding: 20px;
  background-color: white;
}

.Title3{
  font-size: 24px;
  font-weight: 300;
}

.Form{
  display: flex;
  flex-wrap: wrap;
}

.Input{
    border:1px Solid black;
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.Agreement{
  font-size: 12px;
  margin: 20px 0px;
}

.Button3{
  width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
  cursor: pointer;
}